<div class="profile-card">
    <div class="avatar-name">
        <img src="?assets/images/img.png" alt="avatar" class="profile-card-avatar">
        <div class="profile-card__name">
            <strong>Район Гослинг</strong>
            <span>rayan</span>
        </div>
    </div>
    <div class="profile-card__description"></div>
</div>
<div class="profile-card">
    <div class="avatar-name">
        <img src="?assets/images/img.png" alt="avatar" class="profile-card-avatar">
        <div class="profile-card__name">
            <strong>Район Гослинг</strong>
            <span>rayan</span>
        </div>
    </div>
    <div class="profile-card__description">lerom</div>
</div>
<div class="profile-card">
    <div class="avatar-name">
        <img src="?assets/images/img.png" alt="avatar" class="profile-card-avatar">
        <div class="profile-card__name">
            <strong>Район Гослинг</strong>
            <span>rayan</span>
        </div>
    </div>
    <div class="profile-card__description">lerom</div>
</div>
